<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>SARS 2003</h1>
        <p>a collection of data and files for research</p>
      </header>
      <p>The 2003 outbreak of SARS, caused by the severe acute respiratory syndrome coronavirus (SARS-CoV or SARS-CoV-1), originated in China and primarily affected the region. This website serves as a repository for the data published by Chinese authorities, providing the most detailed and granular information available for research and analysis. In addition to data, the site also collects news, articles, and papers documenting this significant public health crisis.</p>
      <p><a href="http://news.sina.com.cn/c/2003-04-30/19521025930.shtml">内地非典型肺炎每日疫情(即时更新)</a></p>
      <ul class="actions">
        <li><a href="{{ 'about.html' | absolute_url }}" class="button special">Learn More</a></li>
      </ul>
    </div>
    <span class="image object">
      <img src="assets/images/sars.webp" alt="" />
    </span>
  </section>
